body {
    font-family: Arial, sans-serif;
}

#chart-title {
    text-align: center;
}

.chart-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#chart, .legend {
    margin: 10px;
}

#chart {
    flex: 1; /* Allows the chart to grow and take necessary space */
}

.legend {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    flex: 0 0 auto; /* Prevents the legend from growing */
    margin-left: 20px;
}

#plot {
    width: 100%;
    height: 400px;
}

#help-icon {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999; 
}

.info {
    position: absolute;
    top: 100%;
    right: 0;
    width: 600px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    display: none;
    z-index: 9999;
}

#help-icon:hover .info {
    display: block;
}

#management {
    display: flex;
    justify-content: space-around;
}

#criteria-list ul, #dataset-list ul {
    list-style-type: none;
}

.lists-container {
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.list {
    border: 1px solid #ccc;
    padding: 10px;
    width: 40%;
}

.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.remove-button {
    background-color: red; /* Ensure visibility */
    color: white; /* Text color */
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 12px;
    cursor: pointer;
    display: inline-block; /* Align properly */
    text-align: center;
    line-height: 20px; /* Vertically center the text */
}

/* Additional rule for higher specificity */
#datasets-list .remove-button, #criteria-list .remove-button {
    background-color: red;
}

.column {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.list-item button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}

.list-item button:hover {
    color: #007bff; /* Niebieski kolor podczas najechania */
}

.dataset-name {
    flex-grow: 1; /* Pozwala nazwie datasetu zająć dostępną przestrzeń */
}

.show-chord-button {
    margin-left: 10px; /* Dodaje odstęp między nazwą a przyciskiem pokazania diagramu */
    cursor: pointer;
}